.list-table {
  border-spacing: 0;

  thead {
    background-color: #f2f2f2;
  }

  thead > tr > th {
    text-align: start;
    font-weight: 500;

    color: #4e4e4e;

    padding: 0.5em;
    padding-left: 0;
    &:nth-last-child(1) {
      padding-right: 1em;
    }
  }
  thead > tr > th:nth-child(1),
  tbody > tr > td:nth-child(1) {
    padding-left: 1em;
    text-align: start;

    @media (max-width: 720px) {
      padding-left: 0.3em;
    }
  }

  thead > tr > th:nth-last-child(1),
  tbody > tr > td:nth-last-child(1) {
    padding-right: 1em;
    text-align: end;
    @media (max-width: 720px) {
      padding-right: 0.3em;
    }
  }
  tbody > tr > td > img {
    height: 100%;
    aspect-ratio: 1;
  }
  tbody > tr > td {
    height: 2.5em;
    border-bottom: 1px solid var(--color-gray-border);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    max-width: 10em;
    @media (max-width: 720px) {
      max-width: 5em;
    }
  }
}
