:root {
  --color-label: #444444;
}

body {
  min-height: 100vh;
  margin: 0;
}

* {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    flex-direction: row;
  }
}

.modal-container {
  background-color: white;
}

.not-visible:not(:focus):not(:active) {
  position: absolute;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  height: 1px;
  width: 1px;

  overflow: hidden;
  white-space: nowrap;
}
