:root {
  --color-label: #444444;
  --color-gray-border: #d4d0d0;
}

body {
  min-height: 100vh;
  margin: 0;
}

* {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.not-visible:not(:focus):not(:active) {
  position: absolute;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  height: 1px;
  width: 1px;

  overflow: hidden;
  white-space: nowrap;
}

.default-button {
  background-color: transparent;

  border: 1px solid var(--color-gray-border);
  border-radius: 0.25em;

  padding: 0.5em 1em;

  font-weight: 500;

  cursor: pointer;

  &:hover {
    background-color: #00000008;
  }
}
