:root {
  --color-label: #444444;
  --color-gray-border: #d4d0d0;
  --background-body: #fff;
}

body {
  min-height: 100dvh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 320px;
  min-height: 100dvh;

  overflow: hidden;
}

* {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

#app {
  min-width: 100dvw;
  min-height: 100dvh;
}

.icon {
  width: 100%;
  height: 100%;
}
.table-icon {
  width: 1.5em;
  width: 1.5em;
}

.not-visible:not(:focus):not(:active) {
  position: absolute;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  height: 1px;
  width: 1px;

  overflow: hidden;
  white-space: nowrap;
}

.default-button {
  background-color: white;

  border: 1px solid var(--color-gray-border);
  border-radius: 0.25em;

  padding: 0.5em 1em;

  font-weight: 500;

  cursor: pointer;

  &:hover {
    background-color: #00000008;
  }
}

.reload-button {
  font-size: 1em;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-gray-border);
  border-radius: 0.25em;

  height: calc(1.3em + 0.5em + 2px);
  aspect-ratio: 1;

  padding: 0.5em;
  margin-block: 0.6em;

  cursor: pointer;

  &:hover {
    background-color: #00000008;
  }
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1em;
  margin-inline: 20px;
}

.top-wrapper > h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: 450;
}
