.modal-container {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 80%;

  padding: 1em;

  @media (max-width: 720px) {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
  }
}

.form-input-container {
  display: flex;
  column-gap: 1em;

  width: 100%;

  span {
    flex: 1;
  }
}

.form-input-wrapper {
  display: flex;
  flex-wrap: wrap;

  column-gap: 1em;

  flex: 6;
}

.form-button-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 1em;
}

.form-image-wrapper {
  border: 1px solid #d4d0d0;

  border-radius: 0.5em;
  cursor: pointer;

  width: 8em;
  overflow: hidden;

  input {
    &[type='file'] {
      display: none;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    aspect-ratio: 1;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.register-title {
  margin-bottom: 1em;
}

/* .register-form {
} */

.close-button {
  background-color: transparent;
  position: absolute;

  right: 1em;
  top: 1em;

  border: none;

  cursor: pointer;
}

.tool-button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.delete-button:hover {
  color: red;
}

.edit-button:hover {
  color: gray;
}
